header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
}
nav{
    display: flex;
    gap: 50px;
    text-decoration: none;
}

.qq{
     display: flex;
      flex-wrap: wrap;
}
.qwe{
    display: flex;
    margin-top: 178px;
    justify-content: space-around;
}

.box{
    width: 440px;
}

h1{
    font-weight: 700;
    font-size: 45px;
}

button{
    color: white;
    background-color: rgba(69, 143, 246, 1);
    border-radius: 55px;
    height: 49px;
    width: 197px;
}

.rr{
    width: 952px;
    height: 60px;
    color: rgba(125, 121, 135, 1);
    margin: auto;
}

.ww{
    font-weight: 700;
    font-size: 35px;
    text-align: center;
}


.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    
}

.card {
    color: white;
    background-color: rgba(231, 231, 231, 1);
    width: 480px;
    height: 450px;
    border-radius: 20px;
    justify-content: space-around;
    
}

.tt{
    width: 952px;
    height: 60px;
    margin: auto;
}


p{
    width: 280px;
    height: 88px;
    text-align: center;
}

h1{
    text-align: center;
}



img{
padding-left: 20px;
}